<!-- Поле поиска -->


<!-- Выбор маршрута -->
<div class="route-selector">
  <label>
    <select [formControl]="routeControl" class="custom-select">
      <option *ngFor="let option of routeOptions" [value]="option.id">
        {{ option.name }}
      </option>
    </select>
  </label>

  <!-- Отображение выбранного маршрута -->
  <p tuiTextfieldSize="m" class="filters">
  <tui-textfield class="input">
    <label tuiLabel>Поиск по таблице</label>
    <input
      tuiTextfield
      [size]="size" [style.width.px]="300"
      placeholder="Введите для поиска..."
      [(ngModel)]="search"
      class="search-input"
    />
  </tui-textfield>
</p>
</div>

<!-- Таблица маршрутов -->
<table tuiTable [size]="size" [style.width.%]="95">
  <thead>
    <tr>
      <th tuiTh>Маршруты</th>
      <th tuiTh>Организация</th>
      <th tuiTh>Номер телефона</th>
      <th tuiTh>Статус</th>
      <th tuiTh>Действия</th>
    </tr>
  </thead>
  <tbody tuiTbody>
    <tr *ngFor="let item of filteredData">
      <td tuiTd>
        <div [tuiCell]="size">
          <span tuiTitle>
            {{ item.checkbox.title }}
            <span tuiSubtitle *ngIf="item.checkbox.subtitle">{{ item.checkbox.subtitle }}</span>
          </span>
        </div>
      </td>
      <td tuiTd>
        <div [tuiCell]="size">
          <span tuiTitle>
            {{ item.title.title }}
            <span tuiSubtitle *ngIf="item.title.subtitle">{{ item.title.subtitle }}</span>
          </span>
        </div>
      </td>
      <td tuiTd>
        <div [tuiCell]="size">
          <span tuiTitle>
            {{ item.cell.phone }}
            <span tuiSubtitle>{{ item.cell.name }}</span>
          </span>
        </div>
      </td>
      <td tuiTd>
        <span [tuiStatus]="item.status.color">{{ item.status.value }}</span>
      </td>
      <td tuiTd>
        <button
          appearance="action"
          iconStart="@tui.pencil"
          size="xs"
          tuiIconButton
          type="button"
        >
          Изменить
        </button>
        <button
          appearance="action"
          iconStart="@tui.ellipsis"
          size="xs"
          tuiIconButton
          type="button"
        >
          Еще
        </button>
      </td>
    </tr>
  </tbody>
</table>